.link1 {
  background-color: #fff;
  padding: 5px 15px;
  color: #214b75;
  margin-left: 5%;
}
.link2 {
  background-color: transparent;
  padding: 5px 15px;
  color: #fff;
  border: 1px solid #fff;
}
.link2:hover {
  color: #fff;
}
body {
  overflow-x: hidden;
  font-family: 'Coco-Lt';
}
a:hover {
  text-decoration: none;
}
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.7s;
}
.animated {
  animation-duration: 2s;
}
html {
  overflow-x: hidden;
}
.with-us .owl-item {
  text-align: center;
}
.side-menu {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
}
@media screen and (min-width: 767px) {
  .side-menu {
    display: none;
  }
}
.side-menu .side-menu-header {
  height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  display: inline-block;
  transition: 0.5s;
  background-color: transparent;
}
.side-menu .side-menu-header .open-menu {
  color: #fff !important;
  font-size: 35px;
  padding: 0 20px;
  float: left;
}
.side-menu .side-menu-header .open-menu > i {
  margin-top: 20px;
}
.side-menu .side-menu-header .logo-img {
  float: right;
  padding: 5px;
  width: 65%;
}
@media screen and (min-width: 660px) {
  .side-menu .side-menu-header .logo-img {
    width: 40%;
  }
}
.side-menu .side-menu-header .logo-img > img {
  width: 130px;
  height: 70px;
  float: right;
}
.side-menu .menu2 {
  position: fixed;
  width: 0;
  background-color: #fff !important;
  display: inline-block;
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
  height: 100%;
  left: 0;
  text-align: center;
  border: 1px solid #155a94;
  text-align: left;
}
.side-menu .menu2 .close-menu {
  color: #155a94 !important;
  font-size: 25px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
}
.side-menu .menu2 ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 60px;
  margin-right: 20px;
}
.side-menu .menu2 ul li {
  padding: 5px 0;
  display: block;
  width: 100%;
}
.side-menu .menu2 ul li a {
  text-decoration: none;
  color: #155a94 !important;
  font-size: 17px;
  font-family: 'TheSans';
  text-align: right;
}
@media screen and (max-width: 450px) {
  .side-menu .menu2 ul li a {
    font-size: 14px;
    padding: 10px 0;
  }
}
.side-menu .menu2 ul li a:hover {
  color: #43a2a4 !important;
  background-color: #fff;
}
.side-menu .menu2 .social {
  text-align: right;
}
.side-menu .menu2 .social a {
  color: bluecolor;
}
.side-menu .menu2 .social a:hover {
  text-decoration: none;
}
.mertaz-head {
  background-image: url("../images/slider.png");
  height: 900px;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .mertaz-head {
    margin-top: -50px;
  }
}
@media screen and (max-width: 767px) {
  .mertaz-head .main-haeder {
    display: none;
  }
}
.mertaz-head .main-haeder .logo-img img {
  width: 204px;
  height: 110px;
}
.mertaz-head .main-haeder .nav {
  padding-right: 40px;
}
.mertaz-head .main-haeder .nav a {
  color: #fff;
  transition: 0.3s;
  font-family: 'Cairorg';
}
.mertaz-head .main-haeder .nav a:hover {
  color: #43a2a4;
}
.mertaz-head .to-down {
  color: #fff;
  margin-right: 100px;
}
@media screen and (max-width: 767px) {
  .mertaz-head .to-down {
    margin-right: 0;
    margin-top: 260px;
    padding: 0 !important;
  }
}
.mertaz-head .to-down h1 {
  font-family: 'Cairoblack';
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .mertaz-head .to-down h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 390px) {
  .mertaz-head .to-down h1 {
    font-size: 20px;
  }
}
.mertaz-head .to-down p {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Cairorg';
}
@media screen and (max-width: 1199px) {
  .mertaz-head .to-down p {
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .mertaz-head .to-down p {
    font-size: 12px;
  }
}
.mertaz-head .to-down .links a {
  width: 45%;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  font-size: 11px;
  font-family: 'Cairorg';
  margin: 20px 0;
}
@media screen and (max-width: 1199px) {
  .mertaz-head .to-down .links a {
    width: 75%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 390px) {
  .mertaz-head .to-down .links a {
    width: 100%;
  }
}
.mertaz-head .to-down .links a img {
  width: 21px;
}
.mertaz-head .to-down .links a span {
  font-size: 18px;
  line-height: 0;
}
.options .option {
  transition: 0.3s;
  font-family: 'cairorg';
}
.options .option img {
  width: 255px;
  height: 255px;
  border-radius: 50%;
}
@media screen and (max-width: 330px) {
  .options .option img {
    width: 190px;
    height: 190px;
  }
}
.options .option h4 {
  color: #43a2a4;
  font-size: 20px;
}
.options .option p {
  color: #3c3c3c;
  opacity: 0.3;
  font-size: 15px;
}
.options .option:hover {
  box-shadow: 0px 3px 10px 0px #000;
}
.options .option:hover p {
  opacity: 1;
}
.features {
  background-color: #f7f7f7;
  font-family: 'cairorg';
}
.features img {
  width: 100%;
}
.features p {
  color: #3c3c3c;
  opacity: 0.3;
}
.features .one-feature {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.features .one-feature img {
  width: 96px;
  height: 96px;
}
@media screen and (max-width: 1199px) and (min-width: 820px) {
  .features .one-feature img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
    .app-screens .item img{
        margin:auto;
    }
    .carousle-details{
        padding-left: 10px!important;
        text-align:center;
    }
}

.contact-li{
        display: inline-block;
        width: 60%;
        text-align: right;
}
@media screen and (max-width: 767px) {
    .features .one-feature {
        text-align:center;
    }
}
.features .one-feature p {
  font-size: 14px;
  transition: 0.3s;
}
.features .one-feature:hover {
  box-shadow: 0px 1px 3px 0px #808080;
}
.features .one-feature:hover p {
  opacity: 1;
}
.opinions {
  background-image: url("../images/reviews.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 15rem;
  height: 995px;
  color: #fff;
  font-family: 'cairorg';
  position: relative;
  background-color: #f7f7f7;
}
.opinions p {
  opacity: 0.7;
  font-size: 20px;
}
.opinions .head-main {
  color: #fff;
}
.opinions .head-main p {
  opacity: 0.7;
  font-size: 15px;
  margin-top: 15px;
}
.opinions .item img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: auto;
}
.opinions .item p {
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 15px;
  line-height: 2;
}
.opinions .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 1px solid #fff;
}
.opinions .owl-dots .owl-dot span:hover {
  background-color: #fff !important;
  border: 1px solid #fff;
}
.opinions .owl-dots .owl-dot.active span {
  background-color: #fff !important;
  border: 1px solid #fff;
}
.opinions:hover .item {
  box-shadow: 0px 0px 25px 0px #3c3c3c;
}
.app-screens {
  font-family: 'cairorg';
}
.app-screens p {
  color: #3c3c3c;
  opacity: 0.3;
  margin-top: 15px;
  line-height: 1.75;
  font-size: 19px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
@media screen and (max-width: 767px) {
  .app-screens p {
    font-size: 12px;
  }
}
.app-screens img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .app-screens img {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .app-screens img {
    width: 200px !important;
    height: 400px;
  }
}
.app-screens .item {
  position: relative;
}
.app-screens .item .carousle-details {
  padding-left: 7rem;
}
.app-screens .item .carousle-details h1 {
  color: #466c91;
}
@media screen and (max-width: 767px) {
  .app-screens .item .carousle-details h1 {
    font-size: 15px;
  }
}
.app-screens .owl-dots .owl-dot span {
  background-color: transperent !important;
  border: 1px solid #466c91;
}
.app-screens .owl-dots .owl-dot.active span {
  background-color: #466c91;
  border: 1px solid #466c91;
}
.app-screens .owl-dots .owl-dot:hover span {
  background-color: #466c91;
  border: 1px solid #466c91;
}
.app-screens .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
@media screen and (max-width: 404px) {
  .app-screens .owl-nav {
    display: none;
  }
}
.app-screens .owl-nav .owl-prev {
  position: relative;
  float: right;
  background: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.app-screens .owl-nav .owl-prev:hover {
  background: transparent;
}
.app-screens .owl-nav .owl-prev:hover:before {
  background-color: #d2d2d2;
  color: #fff;
}
.app-screens .owl-nav .owl-prev:before {
  content: '\f108';
  position: absolute;
  font-family: 'Flaticon';
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  color: #d2d2d2;
  background-color: #fff;
  border: 2px solid #d2d2d2;
  border-radius: 50%;
  padding-top: 5px;
  font-size: 25px;
}
.app-screens .owl-nav .owl-next {
  position: relative;
  float: left;
  background: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.app-screens .owl-nav .owl-next:hover {
  background: transparent;
}
.app-screens .owl-nav .owl-next:hover:before {
  background-color: #d2d2d2;
  color: #fff;
}
.app-screens .owl-nav .owl-next:before {
  content: '\f107';
  position: absolute;
  font-family: 'Flaticon';
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  color: #d2d2d2;
  background-color: #fff;
  border: 2px solid #d2d2d2;
  border-radius: 50%;
  padding-top: 5px;
  font-size: 25px;
}
.support {
  background-color: #f7f7f7;
  font-family: 'cairorg';
}
.support form .form-controlle input,
.support form .form-controlle textarea {
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid #afadad;
}
.support form .form-controlle input:focus,
.support form .form-controlle textarea:focus {
  outline: none;
}
.support form .form-controlle input[type=submit] {
  width: 25%;
  background: linear-gradient(to left, #466c91, #58acae);
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
@media screen and (max-width: 340px) {
  .support form .form-controlle input[type=submit] {
    width: 30%;
  }
}
.support form .form-controlle input[type=submit]:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.support ul {
  padding: 0;
  list-style-type: none;
}
.support ul li{
    width: 70%;
    margin-right: auto;

}
.model-img{
    width: 188px;
    height: 110px;
    margin-top: 30px;

}
.support ul li img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.support ul li a {
  color: #b1c0cf;
}
.support img {
  width: 1030px;
}
.footer {
  background-image: url("../images/footer_bg.png");
}
.footer img {
  padding: 20px;
  width: 185px;
  height: 250px;
}
.footer a {
  color: #fff;
  margin-left: 5px;
}
.footer a i {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #fff;
  padding-top: 9px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer a i:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.footer p {
  color: #fff;
}
